<!DOCTYPE html>
<html lang="en"
      >
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <div class="col-12">
        <h3>List of Dogs</h3>
        <hr>
        <ul>
            <li><a href="/registerDog.html"> Register as Dog Owner</a></li>
            <li><a href="/listDogs.html"> List of Dogs</a></li>
        </ul>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Dog Name</th>
                <th scope="col">Owner Name</th>
                <th scope="col">Location</th>
                <th scope="col">Breed</th>
                <th scope="col">Sex</th>
                <th scope="col">Image</th>
            </tr>
            </thead>
            <tbody>

                <tr th:each="p:${listDogs}">
                    <td th:text="${p.getDogName()}"></td>
                    <td th:text="${p.getOwnerName()}"></td>
                    <td th:text="${p.getLocation()}"></td>
                    <td th:text="${p.getBreed()}"></td>
                    <td th:text="${p.getSex()}"></td>
                    <td><img alt="" th:src="'data:image/jpeg;base64,' + ${p.getImage()}" style="width: 100px; height: 100px"></td>
<!--                    <td><a class="btn btn-danger">View Profile</a></td>-->
                    <!--                    <td><a class="btn btn-danger" onClick="return confirm('Are you sure you want to delete the record ?')" th:href="@{delete(id=${p.id})}">Delete</a></td>-->
                    <!--                    <td><a class="btn btn-success" th:href="@{editStudents(id=${p.id})}">Edit</a></td>-->
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
</div>

</body>
</html>